body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}