body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

header {
    text-align: center;
    background-color: #b0d8e3;
    padding: 10px;
}

.grid1 {grid-area: header;}
.grid2 {grid-area: aside;}
.grid3 {grid-area: figure;}
.grid4 {grid-area: article;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'aside figure figure'
    'aside article article';
}

hr {
    width: 215px;
}

.btn {
    width: 195px;
    height: 35px;
    margin: 5px;
}